{% extends "base.html" %}

{% block content %}

<div class="card mt-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        {{ title }}
    </div>
    <div class="card-body">
        <a href="{% url "tambah_koleksi" %}" class="btn btn-success">Tambah Koleksi</a>
        <table id="datatablesSimple" style="width: 1000px;" >
            <thead>
                <tr>
                    <th>Buku</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
            {% for koleksi in data %}
            <tr>
                <td>{{ koleksi.buku }}</td>
                <td>
                    <a class="btn btn-danger" href="{% url "hapus_koleksi" koleksi.id %}" onclick="return confirm('Apakah anda yakin ingin menghapus koleksi ?')">HAPUS</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}