<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                {% if request.user.groups.all.0.name == 'administrator' %}
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="{% url "index" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Features</div>
                    <a class="nav-link" href="{% url "data_buku" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Buku
                    </a>
                    <a class="nav-link" href="{% url "data_kategori" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Kategori
                    </a>
                    <a class="nav-link" href="{% url "data_peminjaman" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Data Pinjam
                    </a>
                    <a class="nav-link" href="{% url "data_koleksi" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Koleksi Pribadi
                    </a>
                    <a class="nav-link" href="{% url "data_ulasan" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Ulasan
                    </a>
                    <button onclick='window.print()' class="nav-link">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Print Page
                    </button>
                </div>
                {% endif %}

                {% if request.user.groups.all.0.name == 'petugas' %}
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="{% url "index" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Features</div>
                    <a class="nav-link" href="{% url "data_buku" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Buku
                    </a>
                    <a class="nav-link" href="{% url "data_kategori" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Kategori
                    </a>
                    <a class="nav-link" href="{% url "data_peminjaman" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Data Pinjam
                    </a>
                    <a class="nav-link" href="{% url "data_koleksi" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Koleksi Pribadi
                    </a>
                    <a class="nav-link" href="{% url "data_ulasan" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Ulasan
                    </a>
                    <button onclick='window.print()' class="nav-link">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Print Page
                    </button>
                </div>
                {% endif %}

                {% if request.user.groups.all.0.name == 'peminjam' %}
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="{% url "index" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" href="{% url "data_buku" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Data & Pinjam Buku
                    </a>
                    <a class="nav-link" href="{% url "data_koleksi" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Koleksi Pribadi
                    </a>
                    <a class="nav-link" href="{% url "data_ulasan" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Ulasan
                    </a>
                    <a class="nav-link" href="{% url "data_peminjaman_pribadi" %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Data Peminjaman Pribadi
                    </a>
                </div>
                {% endif %}

            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                {{ user }}
            </div>
        </nav>
    </div>