{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">{{ title }}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
        {% if messages %}
        <ul class="messages">
            {% for messages in messages %}
            <div class="messages messages-success">
                {{ messages }}
            </div>
            {% endfor %}
        </ul>
        {% endif %}

    <div class="row">
        <div class="col-cl-5">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}