{% extends "base.html" %}

{% block content %}

<div class="card mt-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        {{ title }}
    </div>
    <div class="card-body">
        <table id="datatablesSimple" style="width: 1000px;" >
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Kategori</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
            {% for data in data %}
            <tr>
                <td>{{ data.nama }}</td>
                <td></td>
                <td>
                    <a class="btn btn-primary" href="{% url "edit_kategori" kategori.id %}">EDIT</a>
                    <a class="btn btn-danger" href="{% url "hapus_kategori" kategori.id %}" onclick="return confirm('Apakah anda yakin ingin menghapus data kategori {{ kategori.nama }}')">HAPUS</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}