{% extends "base.html" %}

{% block content %}

<div class="card mt-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        {{ title }}
    </div>
    <div class="card-body">
        {% if request.user.groups.all.0.name == 'peminjam' %}
        <a href="{% url "tambah_peminjaman" %}" class="btn btn-success">Pinjam Buku</a>
        {% elif request.user.groups.all.0.name == 'petugas' %}

        {% elif request.user.groups.all.0.name == 'peminjam' %}

        {% endif %}
        <a href="{% url "print_peminjaman" %}" class="btn btn-info">Print Page</a>
        <table id="datatablesSimple" style="width: 1000px;" >
            <thead>
                <tr>
                    <th>User</th>
                    <th>Buku</th>
                    <th>Tanggal Peminjaman</th>
                    <th>Tanggal Pengembalian</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
            {% for pinjam in data %}
            <tr>
                <td>{{ pinjam.user }}</td>
                <td>{{ pinjam.buku }}</td>
                <td>{{ pinjam.tanggal_peminjaman }}</td>
                <td>{{ pinjam.tanggal_pengembalian }}</td>
                <td>{{ pinjam.status }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url "edit_peminjaman" pinjam.id %}">EDIT</a>
                    <a class="btn btn-danger" href="{% url "hapus_peminjaman" pinjam.id %}" onclick="return confirm('Apakah anda yakin ingin menghapus data ?')">HAPUS</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}